https://www.kaggle.com/cyanist/data-cleaning/data


## Context
This dataset contains over 80,000 reports of UFO sightings over the last century.

## Content
There are two versions of this dataset: scrubbed and complete. The complete data includes entries where the location of the sighting was not found or blank (0.8146%) or have an erroneous or blank time (8.0237%). Since the reports date back to the 20th century, some older data might be obscured. Data contains city, state, time, description, and duration of each sighting.

## Inspiration
* What areas of the country are most likely to have UFO sightings?
* Are there any trends in UFO sightings over time? Do they tend to be clustered or seasonal?
* Do clusters of UFO sightings correlate with landmarks, such as airports or government research centers?
* What are the most common UFO descriptions?

In [2]:
import pandas as pd

In [3]:
ufos = pd.read_csv('scrubbed.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ufos = pd.read_csv('scrubbed.csv', low_memory=False)

In [5]:
ufos.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

## First, let's rename the columns

In [6]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [7]:
ufos = ufos.rename(columns = {'duration (seconds)': 'duration_seconds', 'duration (hours/min)': 'duration_hours_min',
                      'date posted': 'date_posted'})

In [8]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration_seconds',
       'duration_hours_min', 'comments', 'date_posted', 'latitude',
       'longitude '],
      dtype='object')

## Check types

In [9]:
ufos.dtypes

datetime               object
city                   object
state                  object
country                object
shape                  object
duration_seconds       object
duration_hours_min     object
comments               object
date_posted            object
latitude               object
longitude             float64
dtype: object

In [10]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration_seconds',
       'duration_hours_min', 'comments', 'date_posted', 'latitude',
       'longitude '],
      dtype='object')

In [11]:
ufos.astype({'datetime': 'datetime64[ns]', 'date_posted': 'datetime64[ns]', 'latitude': float, 'duration_seconds': float })

ValueError: hour must be in 0..23

We have problems with datetime, duration_seconds and latitude

Let's change only the dates and let's look for that data

In [ ]:
ufos = ufos.astype({'date_posted': 'datetime64[ns]' })

In [ ]:
ufos.dtypes

## datetime

In [12]:
ufos.astype({'datetime': 'datetime64[ns]'})

ValueError: hour must be in 0..23

In [13]:
ufos.datetime = ufos.datetime.astype(str)

In [14]:
ufos['bad_hour'] = ufos.datetime.apply(lambda x: '24:' in x)

In [15]:
ufos[ufos['bad_hour'] != False]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,bad_hour
388,10/11/2006 24:00,rome,ny,us,oval,120,a min or two,I was walking from the garage to the house&#44...,2/1/2007,43.2127778,-75.456111,True
693,10/1/2001 24:00,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000,2 years,go to: http://www.24horas.com.pe/data/videos/...,3/4/2003,-5.129547,-80.120569,True
962,10/1/2012 24:00,novi,mi,us,triangle,300,5 minutes,V shaped and 8 big and very brite lights&#44mo...,10/30/2012,42.4805556,-83.475556,True
1067,10/12/2003 24:00,salatiga (indonesia),NaN,NaN,disk,22,22 seconds,UFO in Salatiga&#44Indonesia,10/31/2003,-7.33683,110.498817,True
1221,10/12/2013 24:00,cincinnati,oh,us,fireball,300,3-5 minutes,A bright orange light split into four&#44 did ...,10/14/2013,39.1619444,-84.456944,True
1222,10/12/2013 24:00,orangevale (sacramento),ca,us,sphere,60,1 minute,swarm of 8 orange orbs stop and dispers in man...,10/23/2013,38.6786111,-121.224722,True
1317,10/13/2004 24:00,white hall,ar,us,triangle,300,5 minutes,ufo spoted near chemical weapons disposal base .,10/27/2004,34.2738889,-92.090833,True
1359,10/13/2007 24:00,hudson,wi,us,sphere,180,3 minutes,6 Balls of Light Swooping Behind Chem-Clouds 9...,11/28/2007,44.9747222,-92.756667,True
1445,10/13/2012 24:00,kingston,pa,us,light,300,5 minutes,There were orange lights in the sky. The ones ...,10/30/2012,41.2616667,-75.897222,True
1663,10/14/2011 24:00,cibecue (west of),az,us,light,300,5 minutes,Bright yellow light moving slowly thru skies o...,10/25/2011,34.0447222,-110.484722,True
1709,10/15/1952 24:00,edmonton (southwest of) (canada),ab,ca,cylinder,120,approx. 2 min.,Good evening folks---What I am about to discri...,1/17/2004,53.55,-113.500000,True
1754,10/15/1971 24:00,lago vista (near austin),tx,us,formation,1800,30 minutes,went outside &amp; in night sky looking east{e...,2/16/1999,30.4600000,-97.988056,True
1797,10/15/1978 24:00,greenwich,ct,us,circle,900,15 minuts,((HOAX??)) had no control on tv. ash tray kil...,12/12/2009,41.0263889,-73.628889,True
1809,10/15/1980 24:00,boonville,ca,us,sphere,300,5 minutes,Boonville&#44 Ca. 10/1980: just after dark&#...,2/18/2001,39.0091667,-123.365000,True
1824,10/15/1983 24:00,california valley,ca,us,disk,600,5-10 min,Sighting&#44 Hynek class CE_II California vall...,4/18/2012,35.3200000,-120.005833,True
1949,10/15/1997 24:00,naalehu,hi,us,sphere,300,5 min.,It looked like a natural object (for a meteor)...,8/25/2000,19.0638889,-155.585833,True
1997,10/15/1999 24:00,sheffield (uk/england),NaN,gb,triangle,120,only a few minutes,THE UFO,4/1/2001,53.366667,-1.500000,True
1998,10/15/1999 24:00,weed/yreka (near),ca,NaN,fireball,180,< 3 min,Fall 1999 sighting of green and gold fireballs...,1/31/2004,41.858898,-122.553076,True
2065,10/15/2002 24:00,los angeles,ca,us,triangle,30,30 seconds,Laurel canyon TRIANGLE craft &#3902,5/24/2005,34.0522222,-118.242778,True
2146,10/15/2005 24:00,spanaway,wa,us,oval,1800,1:30 min,cloud inhaler,5/15/2006,47.1041667,-122.433333,True
2193,10/15/2008 24:00,hull (uk/england),NaN,gb,disk,420,7 mins,2 orangey red discs similar to other reports f...,3/19/2009,53.716667,-0.333333,True
2298,10/16/1998 24:00,ronan/polson (lake county),mt,NaN,disk,10800,3 hours,Two large craft stationery @ 20000 feet above ...,11/19/1998,47.692526,-114.165781,True
2369,10/16/2005 24:00,ventura,ca,us,oval,2400,40 mins.,It was Saturday evening October 16&#44 2005. I...,11/3/2005,34.2783333,-119.292222,True
2682,10/17/2013 24:00,chilliwack (canada),bc,ca,changing,120,2 minutes,New Information in order to make sense of sigh...,10/23/2013,49.166667,-121.950000,True
3122,10/20/1989 24:00,west palm beach,fl,us,cylinder,180,3 min,After reading the 1966 acount of Jack brown in...,3/31/2008,26.7052778,-80.036667,True
3184,10/20/2002 24:00,albany (maybe new york),ny,us,cigar,2,seconds,I am passing this on from my friend&#44 as I d...,10/28/2002,42.6525000,-73.756667,True
3185,10/20/2002 24:00,raton/pueblo (between&#44 enroute),co,NaN,light,37800,1 1/2hrs,2Bright star-like objects follow me for over 1...,10/28/2002,37.939968,-104.819887,True
3543,10/21/2011 24:00,oakland,ca,us,sphere,2,seconds,well i was just outside looking at regular air...,10/25/2011,37.8044444,-122.269722,True
3596,10/2/1994 24:00,bingen,wa,us,fireball,900,15minutes to an hour,I was car camping with some friends at Bingen ...,4/2/1999,45.7150000,-121.463333,True
3621,10/2/2000 24:00,san antonio,tx,us,light,900,10-15 min,three bright large lights in sky--loose format...,12/2/2000,29.4238889,-98.493333,True
...,...,...,...,...,...,...,...,...,...,...,...,...
75972,9/19/2012 24:00,whitehall,ny,us,unknown,50,1:50 seconds,Strange disappearing planes,5/2/2014,43.5555556,-73.404167,True
76151,9/20/2006 24:00,white city,or,us,cigar,120,1-2 min.,white light near bridge in white city&#44 oregon,10/30/2006,42.4375000,-122.857778,True
76277,9/21/1956 24:00,greenwich,ct,us,light,1290,21:30,Strange movements amoung the stars,8/12/2008,41.0263889,-73.628889,True
76439,9/21/2009 24:00,havant (uk/england),NaN,gb,teardrop,600,10 min,strange teardrop flame craft,12/12/2009,50.85,-0.983333,True
76601,9/2/2002 24:00,chicago,il,us,NaN,600,ten minutes,UFO observation and alien visit,9/2/2005,41.8500000,-87.650000,True
76642,9/2/2005 24:00,lisbon,oh,us,cigar,180,3 minutes,2 UFO&#39s 1plane and a military jet fighter t...,9/15/2005,40.7719444,-80.768333,True
76864,9/22/2001 24:00,mosj&oslash;en (norway),NaN,NaN,NaN,120,2 minutes,Press reports in Norway of UFO sighting in the...,10/12/2001,65.836924,13.193401,True
76949,9/22/2006 24:00,bay city,tx,us,triangle,1500,25 min,UFO SIGHTED AT MATAGORDA TX,2/14/2008,28.9825000,-95.969167,True
77018,9/22/2011 24:00,mulino,or,us,circle,180,3 min,circle/ red/orange differnt color lights spun,10/10/2011,45.2216667,-122.580833,True
77141,9/23/1998 24:00,adrian/jackson (between),mi,NaN,fireball,2,2 seconds,Looked like a meterite except the color and ta...,9/26/1998,41.843386,-84.016742,True
77142,9/23/1998 24:00,deerhorn valley/jamul,ca,NaN,light,5,5seconds+,@905pm I was looking So. at sky for shooting s...,9/26/1998,32.676217,-116.724798,True
77143,9/23/1998 24:00,san fernando valley,ca,NaN,other,3,3 seconds,I was driving north on the Ventura Freeway(101...,9/26/1998,34.182578,-118.439676,True
77336,9/24/1995 24:00,maple valley,wa,us,NaN,45,45 sec.,Woman witnesses a &quot;ball&#44 a bright ligh...,11/2/1999,47.4066667,-122.037500,True
77529,9/25/1998 24:00,marysville,oh,us,disk,10,10sec&#39s.,red/orange in color&#44 hovered for about 5 se...,9/26/1998,40.2363889,-83.367222,True
77749,9/26/1998 24:00,bishop/benton,ca,NaN,fireball,7200,1-2hours,resident of Bishop driving past old road saw l...,9/26/1998,37.720811,-118.590629,True
77807,9/26/2004 24:00,hartland,mi,us,light,3600,1 hour or more,Very bright lighted orbs&#44 NOT stars hovered...,9/29/2004,42.6566667,-83.753056,True
77942,9/26/2013 24:00,franksville,wi,us,fireball,180,3 minutes,My neighbor drove in the yard and I stepped ou...,1/24/2014,42.7600000,-87.913333,True
77959,9/27/1998 24:00,redmond,wa,us,circle,7,6 - 7 seconds,I was looking eastward and saw a bright yellow...,11/1/1998,47.6741667,-122.120278,True
78125,9/28/1973 24:00,strongsville,oh,us,other,600,10 minutes?,A gray metal bell shaped object&#44 half as ta...,4/9/2004,41.3144444,-81.835833,True
78453,9/29/2006 24:00,spirit lake,ia,us,light,5,5 sec,High altitude orange light moving from zenith ...,10/30/2006,43.4222222,-95.101944,True
78480,9/29/2008 24:00,calgary (canada),ab,ca,light,600,10 min,lights over calgary,10/31/2008,51.083333,-114.083333,True
78665,9/30/2003 24:00,texas (east; above),tx,NaN,cylinder,600,10 minutes,Giant Silver Cylinders Falling in East Texas sky.,10/30/2006,31.968599,-99.901813,True
79091,9/4/2002 24:00,brooksville,fl,us,sphere,2100,35min,we got photos,9/6/2002,28.5550000,-82.388056,True
79124,9/4/2004 24:00,kalispell,mt,us,triangle,120,2 minutes,Triangle Craft ((NUFORC Note: NOSS satellite...,9/29/2004,48.1958333,-114.311944,True
79125,9/4/2004 24:00,pyramid lake,nv,NaN,light,10800,03:am-6:am,Sept 4&#44 2004 sighting of a light over Pyram...,9/9/2004,40.012934,-119.557168,True
79136,9/4/2005 24:00,boonville,nc,us,cigar,10800,3+ hours,Unusual activity in our small community&#44 cr...,9/9/2013,36.2325000,-80.708333,True
79137,9/4/2005 24:00,redondo beach,ca,us,triangle,300,5 minutes,Triangulat UFO seen over Redondo Beach&#44 Cal...,12/16/2005,33.8491667,-118.387500,True
79740,9/7/2002 24:00,portsmouth,oh,us,changing,900,15 minutes,A bright red light hoovering in the sky.,9/13/2002,38.7316667,-82.997778,True
79759,9/7/2004 24:00,montrose,co,us,unknown,1200,20 minutes,Stationary object with three pulsating lights ...,9/9/2004,38.4783333,-107.875556,True
79942,9/8/2003 24:00,cedar rapids,ia,us,changing,900,15 min,WE SEEN IT,9/17/2003,42.0083333,-91.643889,True

In [16]:
ufos['datetime'] = ufos.datetime.apply(lambda x:  x.replace('24:', '00:'))

In [17]:
ufos.astype({'datetime': 'datetime64[ns]'})

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,bad_hour
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,False
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,False
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,False
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,False
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,False
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889,False
6,1965-10-10 21:00:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000,False
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333,False
8,1966-10-10 20:00:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111,False
9,1966-10-10 21:00:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167,False
10,1968-10-10 13:00:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667,False
11,1968-10-10 19:00:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444,False
12,1970-10-10 16:00:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500,False
13,1970-10-10 19:00:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944,False
14,1971-10-10 21:00:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611,False
15,1972-10-10 19:00:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944,False
16,1972-10-10 22:30:00,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056,False
17,1973-10-10 19:00:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611,False
18,1973-10-10 23:00:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611,False
19,1974-10-10 19:30:00,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667,False
20,1974-10-10 21:30:00,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000,False
21,1974-10-10 23:00:00,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722,False
22,1975-10-10 17:00:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000,False
23,1976-10-10 20:30:00,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222,False
24,1976-10-10 22:00:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333,False
25,1977-10-10 12:00:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333,False
26,1977-10-10 22:00:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.2541667,-85.759444,False
27,1978-10-10 02:00:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2/1/2007,40.7008333,-73.713333,False
28,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.7002778,-73.921389,False
29,1979-10-10 22:00:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80302,2012-09-09 20:00:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,9/24/2012,35.7211111,-77.915833,False
80303,2012-09-09 20:10:00,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.7008333,-73.713333,False
80304,2012-09-09 20:30:00,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,9/24/2012,36.2000000,-86.518611,False
80305,2012-09-09 20:30:00,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,9/24/2012,34.2783333,-119.292222,False
80306,2012-09-09 20:52:00,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.5622222,-111.928889,False
80307,2012-09-09 21:00:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,9/24/2012,41.6819444,-85.976667,False
80308,2012-09-09 21:00:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,9/24/2012,40.7141667,-74.006389,False
80309,2012-09-09 21:00:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,9/24/2012,33.4330556,-79.121667,False
80310,2012-09-09 21:00:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.2783333,-119.292222,False
80311,2012-09-09 21:55:00,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,9/24/2012,32.7763889,-79.931111,False
80312,2012-09-09 23:00:00,gainesville,ga,us,light,5,5 seconds,Ball of light,9/24/2012,34.2977778,-83.824167,False
80313,2013-09-09 00:15:00,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,9/30/2013,36.8466667,-76.285556,False
80314,2013-09-09 01:50:00,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,9/30/2013,42.8863889,-78.878611,False
80315,2013-09-09 03:00:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525000,-80.608056,False
80316,2013-09-09 09:51:00,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7152778,-117.156389,False
80317,2013-09-09 12:34:00,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.5050000,-97.820000,False
80318,2013-09-09 13:10:00,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,9/9/2013,53.25,-113.783333,False
80319,2013-09-09 20:15:00,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,9/30/2013,40.858433,-74.163755,False
80320,2013-09-09 20:20:00,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,9/30/2013,33.2097222,-87.569167,False
80321,2013-09-09 20:21:00,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,9/30/2013,36.5297222,-87.359444,False
80322,2013-09-09 21:00:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,9/30/2013,50.465843,22.891814,False
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6513889,-82.325000,False
80324,2013-09-09 21:00:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.367594,-77.710548,False
80325,2013-09-09 21:00:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667,False
80326,2013-09-09 21:00:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1013889,-84.519444,False
80327,2013-09-09 21:15:00,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444,False
80328,2013-09-09 22:00:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500,False
80329,2013-09-09 22:00:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444,False
80330,2013-09-09 22:20:00,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556,False
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778,False

In [18]:
ufos = ufos.astype({'datetime': 'datetime64[ns]'})

### Now we want to delete the bad column

Two ways:

In [19]:
ufos = ufos.drop(['bad_hour'], axis=1)
ufos

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,1965-10-10 21:00:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,1966-10-10 20:00:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,1966-10-10 21:00:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167
10,1968-10-10 13:00:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
11,1968-10-10 19:00:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444
12,1970-10-10 16:00:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500
13,1970-10-10 19:00:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944
14,1971-10-10 21:00:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611
15,1972-10-10 19:00:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
16,1972-10-10 22:30:00,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056
17,1973-10-10 19:00:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611
18,1973-10-10 23:00:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611
19,1974-10-10 19:30:00,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667
20,1974-10-10 21:30:00,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000
21,1974-10-10 23:00:00,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722
22,1975-10-10 17:00:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000
23,1976-10-10 20:30:00,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222
24,1976-10-10 22:00:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333
25,1977-10-10 12:00:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333
26,1977-10-10 22:00:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.2541667,-85.759444
27,1978-10-10 02:00:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2/1/2007,40.7008333,-73.713333
28,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.7002778,-73.921389
29,1979-10-10 22:00:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,2012-09-09 20:00:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,9/24/2012,35.7211111,-77.915833
80303,2012-09-09 20:10:00,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.7008333,-73.713333
80304,2012-09-09 20:30:00,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,9/24/2012,36.2000000,-86.518611
80305,2012-09-09 20:30:00,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,9/24/2012,34.2783333,-119.292222
80306,2012-09-09 20:52:00,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.5622222,-111.928889
80307,2012-09-09 21:00:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,9/24/2012,41.6819444,-85.976667
80308,2012-09-09 21:00:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,9/24/2012,40.7141667,-74.006389
80309,2012-09-09 21:00:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,9/24/2012,33.4330556,-79.121667
80310,2012-09-09 21:00:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.2783333,-119.292222
80311,2012-09-09 21:55:00,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,9/24/2012,32.7763889,-79.931111
80312,2012-09-09 23:00:00,gainesville,ga,us,light,5,5 seconds,Ball of light,9/24/2012,34.2977778,-83.824167
80313,2013-09-09 00:15:00,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,9/30/2013,36.8466667,-76.285556
80314,2013-09-09 01:50:00,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,9/30/2013,42.8863889,-78.878611
80315,2013-09-09 03:00:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525000,-80.608056
80316,2013-09-09 09:51:00,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7152778,-117.156389
80317,2013-09-09 12:34:00,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.5050000,-97.820000
80318,2013-09-09 13:10:00,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,9/9/2013,53.25,-113.783333
80319,2013-09-09 20:15:00,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,9/30/2013,40.858433,-74.163755
80320,2013-09-09 20:20:00,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,9/30/2013,33.2097222,-87.569167
80321,2013-09-09 20:21:00,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,9/30/2013,36.5297222,-87.359444
80322,2013-09-09 21:00:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,9/30/2013,50.465843,22.891814
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6513889,-82.325000
80324,2013-09-09 21:00:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.367594,-77.710548
80325,2013-09-09 21:00:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667
80326,2013-09-09 21:00:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1013889,-84.519444
80327,2013-09-09 21:15:00,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

In [20]:
ufos.dtypes

datetime              datetime64[ns]
city                          object
state                         object
country                       object
shape                         object
duration_seconds              object
duration_hours_min            object
comments                      object
date_posted                   object
latitude                      object
longitude                    float64
dtype: object

## Latitude

In [21]:
ufos.astype({'latitude': float })

ValueError: could not convert string to float: '33q.200088'

In [22]:
ufos[ufos['latitude'] == '33q.200088']

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
43782,1974-05-22 05:30:00,mescalero indian reservation,nm,NaN,rectangle,180,two hours,Huge rectangular object emmitting intense whit...,4/18/2012,33q.200088,-105.624152

In [23]:
ufos.shape

(80332, 11)

We can change that data but we don't know which the new data would be. This time we will remove it.

In [24]:
ufos.drop(43782).shape

(80331, 11)

In [25]:
ufos = ufos.drop(43782)

In [26]:
ufos = ufos.astype({'latitude': float})

In [27]:
ufos['latitude'] = pd.to_numeric(ufos['latitude'], errors='coerce')

## duration_seconds

In [28]:
ufos.astype({'duration_seconds': 'float'})

ValueError: could not convert string to float: '2`'

In [29]:
ufos[ufos['duration_seconds'] == '2`']

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
27822,2000-02-02 19:33:00,bouse,az,us,NaN,2`,each a few seconds,Driving through Plomosa Pass towards Bouse Loo...,2/16/2000,33.9325,-114.005

In [30]:
ufos.iloc[27822].

SyntaxError: invalid syntax (<ipython-input-30-196d49cd4d3d>, line 1)

In [31]:
ufos.at[27822, 'duration_seconds'] = 2

In [32]:
ufos.astype({'duration_seconds': 'float'})

ValueError: could not convert string to float: '8`'

In [33]:
ufos[ufos['duration_seconds'] == '8`']

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
35692,2005-04-10 22:52:00,santa cruz,ca,us,NaN,8`,eight seconds,2 red lights moving together and apart with a ...,4/16/2005,36.974167,-122.029722

In [34]:
ufos.at[35692, 'duration_seconds'] = 8

In [35]:
ufos.astype({'duration_seconds': 'float'})

ValueError: could not convert string to float: '0.5`'

We need to remove all the characters `

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

In [36]:
ufos['duration_seconds'] = ufos['duration_seconds'].apply(lambda x: x.replace('`', ''))

AttributeError: 'int' object has no attribute 'replace'

In [37]:
ufos['duration_seconds'] = ufos['duration_seconds'].astype(str)

In [38]:
ufos['duration_seconds'] = ufos['duration_seconds'].apply(lambda x: x.replace('`', ''))

In [39]:
ufos = ufos.astype({'duration_seconds': 'float'})

In [40]:
ufos.dtypes

datetime              datetime64[ns]
city                          object
state                         object
country                       object
shape                         object
duration_seconds             float64
duration_hours_min            object
comments                      object
date_posted                   object
latitude                     float64
longitude                    float64
dtype: object

# NAN values

In [41]:
ufos.isnull()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,True,True,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,True,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,True,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
80302,False,False,False,False,False,False,False,False,False,False,False
80303,False,False,False,False,False,False,False,False,False,False,False
80304,False,False,False,False,False,False,False,False,False,False,False
80305,False,False,False,False,False,False,False,False,False,False,False
80306,False,False,False,False,False,False,False,False,False,False,False
80307,False,False,False,False,False,False,False,False,False,False,False
80308,False,False,False,False,False,False,False,False,False,False,False
80309,False,False,False,False,False,False,False,False,False,False,False
80310,False,False,False,False,False,False,False,False,False,False,False
80311,False,False,False,False,False,False,False,False,False,False,False
80312,False,False,False,False,False,False,False,False,False,False,False
80313,False,False,False,False,False,False,False,False,False,False,False
80314,False,False,False,False,False,False,False,False,False,False,False
80315,False,False,False,False,False,False,False,False,False,False,False
80316,False,False,False,False,False,False,False,False,False,False,False
80317,False,False,False,False,False,False,False,False,False,False,False
80318,False,False,False,False,False,False,False,False,False,False,False
80319,False,False,False,True,False,False,False,False,False,False,False
80320,False,False,False,False,False,False,False,False,False,False,False
80321,False,False,False,False,False,False,False,False,False,False,False
80322,False,False,True,True,False,False,False,False,False,False,False
80323,False,False,False,False,False,False,False,False,False,False,False
80324,False,False,False,True,False,False,False,False,False,False,False
80325,False,False,False,False,False,False,False,False,False,False,False
80326,False,False,False,False,False,False,False,False,False,False,False
80327,False,False,False,False,False,False,False,False,False,False,False
80328,False,False,False,False,False,False,False,False,False,False,False
80329,False,False,False,False,False,False,False,False,False,False,False
80330,False,False,False,False,False,False,False,False,False,False,False
80331,False,False,False,False,False,False,False,False,False,False,False

#### Turn it into an array

In [42]:
ufos.isnull().values

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False,  True, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [43]:
ufos.isnull().values.any()

True

#### Which columns has Nan values?

In [44]:
ufos.isnull().sum()

datetime                 0
city                     0
state                 5797
country               9669
shape                 1932
duration_seconds         0
duration_hours_min       0
comments                15
date_posted              0
latitude                 0
longitude                0
dtype: int64

What to do? Sometimes we will fill them with the mean, other times with a value. This time we will fill it with 0

In [45]:
ufos.fillna(value=0).isnull().sum()

datetime              0
city                  0
state                 0
country               0
shape                 0
duration_seconds      0
duration_hours_min    0
comments              0
date_posted           0
latitude              0
longitude             0
dtype: int64

In [46]:
ufos = ufos.fillna(value=0)

Por ejemplo pensar qué hacemos con el 0. Si hay muchos de uno y pocos de otro pensar si quitarlos.

In [47]:
ufos.country.value_counts()

us    65114
0      9669
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64

### It makes sense to set some different tags depending on the duration

Different ways:
* Equal width bins: the range for each bin is the same size.
* Equal frequency bins: approximately the same number of records in each bin.

In [48]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,0,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),0,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [49]:
labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [50]:
ufos['duration_seconds_interval'] = pd.cut(ufos['duration_seconds'], 5, labels = labels)

In [51]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_interval
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,Very Low
1,1949-10-10 21:00:00,lackland afb,tx,0,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,Very Low
2,1955-10-10 17:00:00,chester (uk/england),0,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,Very Low
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,Very Low
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,Very Low

In [52]:
pd.cut(ufos['duration_seconds'], 5).value_counts()

(-97835.999, 19567200.001]      80324
(39134400.001, 58701600.0]          3
(78268800.0, 97836000.0]            2
(58701600.0, 78268800.0]            1
(19567200.001, 39134400.001]        1
Name: duration_seconds, dtype: int64

In [53]:
pd.qcut(ufos['duration_seconds'], 5).value_counts()

(20.0, 120.0]          19717
(0.0, 20.0]            17760
(120.0, 300.0]         15954
(900.0, 97836000.0]    13874
(300.0, 900.0]         13026
Name: duration_seconds, dtype: int64

# Aggregations and summarizations

In [54]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_interval
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,Very Low
1,1949-10-10 21:00:00,lackland afb,tx,0,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,Very Low
2,1955-10-10 17:00:00,chester (uk/england),0,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,Very Low
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,Very Low
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,Very Low

In [55]:
ufos.groupby('country').count()

,datetime,city,state,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_interval
country,,,,,,,,,,,
0,9669,9669,9669,9669,9669,9669,9669,9669,9669,9669,9669
au,538,538,538,538,538,538,538,538,538,538,538
ca,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
de,105,105,105,105,105,105,105,105,105,105,105
gb,1905,1905,1905,1905,1905,1905,1905,1905,1905,1905,1905
us,65114,65114,65114,65114,65114,65114,65114,65114,65114,65114,65114

In [76]:
df = ufos.groupby('country').count()
df.index

Index([0, 'au', 'ca', 'de', 'gb', 'us'], dtype='object', name='country')

In [61]:
ufos.groupby('country').count()

country
0      9669
au      538
ca     3000
de      105
gb     1905
us    65114
Name: datetime, dtype: int64

In [67]:
ufos.groupby('country').count().iloc[:,0]

country
0      9669
au      538
ca     3000
de      105
gb     1905
us    65114
Name: datetime, dtype: int64

Cuál es la diferencia entre

In [1]:
ufos.groupby('country').count()[ufos.columns[0]]
ufos.groupby('country').count()[[ufos.columns[0]]]

NameError: name 'ufos' is not defined

In [65]:
ufos.groupby('country').count()[ufos.columns[0]]

country
0      9669
au      538
ca     3000
de      105
gb     1905
us    65114
Name: datetime, dtype: int64

In [66]:
ufos.groupby('country').count()[[ufos.columns[0]]]

         datetime
country
0            9669
au            538
ca           3000
de            105
gb           1905
us          65114

In [72]:
# Only returns the valid types
ufos.groupby('country').mean()

         duration_seconds   latitude  longitude
country
0            13410.130046  34.668470  -56.105235
au            3806.469238 -32.797061  143.236885
ca           28859.437007  47.193421  -90.285780
de           24255.980952  50.603340   10.063808
gb           66061.321207  52.746508   -1.677395
us            5800.014047  38.357911  -95.710870

In [74]:
ufos.groupby('country').mean()[['duration_seconds']]

         duration_seconds
country
0            13410.130046
au            3806.469238
ca           28859.437007
de           24255.980952
gb           66061.321207
us            5800.014047

 Queremos unir los dos dfs

In [78]:
ufos.groupby('country').count()[[ufos.columns[0]]].rename(columns = {'datetime': 'total_views'})

         total_views
country
0               9669
au               538
ca              3000
de               105
gb              1905
us             65114

In [79]:
country_total_views = ufos.groupby('country').count()[[ufos.columns[0]]].rename(columns = {'datetime': 'total_views'})

In [80]:
ufos.groupby('country').mean()[['duration_seconds']].rename(columns = {'duration_seconds': 'mean_duration_seconds'})

         mean_duration_seconds
country
0                 13410.130046
au                 3806.469238
ca                28859.437007
de                24255.980952
gb                66061.321207
us                 5800.014047

In [81]:
country_mean_duration = ufos.groupby('country').mean()[['duration_seconds']].rename(columns = {'duration_seconds': 'mean_duration_seconds'})

In [83]:
country_total_views.merge(country_mean_duration, how = 'inner', left_index = True, right_index=True)

         total_views  mean_duration_seconds
country
0               9669           13410.130046
au               538            3806.469238
ca              3000           28859.437007
de               105           24255.980952
gb              1905           66061.321207
us             65114            5800.014047

Summarizing by two fields

In [85]:
ufos.groupby(['country', 'shape']).count()

                   datetime   city  state  duration_seconds  \
country shape
0       0               271    271    271               271
        changing        252    252    252               252
        chevron          89     89     89                89
        cigar           262    262    262               262
        circle          891    891    891               891
        cone             40     40     40                40
        crescent          1      1      1                 1
        cross            25     25     25                25
        cylinder        161    161    161               161
        diamond         154    154    154               154
        disk            736    736    736               736
        dome              1      1      1                 1
        egg             105    105    105               105
        fireball        682    682    682               682
        flash           174    174    174               174
        formation       286    286    286               286
        light          1937   1937   1937              1937
        other           760    760    760               760
        oval            448    448    448               448
        rectangle       139    139    139               139
        sphere          655    655    655               655
        teardrop         88     88     88                88
        triangle        827    827    827               827
        unknown         685    685    685               685
au      0                11     11     11                11
        changing          9      9      9                 9
        chevron           3      3      3                 3
        cigar            15     15     15                15
        circle           62     62     62                62
        cone              6      6      6                 6
...                     ...    ...    ...               ...
gb      unknown          92     92     92                92
us      0              1553   1553   1553              1553
        changed           1      1      1                 1
        changing       1584   1584   1584              1584
        chevron         815    815    815               815
        cigar          1643   1643   1643              1643
        circle         6118   6118   6118              6118
        cone            247    247    247               247
        crescent          1      1      1                 1
        cross           188    188    188               188
        cylinder       1027   1027   1027              1027
        delta             6      6      6                 6
        diamond         928    928    928               928
        disk           4121   4121   4121              4121
        egg             581    581    581               581
        fireball       5148   5148   5148              5148
        flare             1      1      1                 1
        flash          1062   1062   1062              1062
        formation      1990   1990   1990              1990
        hexagon           1      1      1                 1
        light         13473  13473  13473             13473
        other          4466   4466   4466              4466
        oval           3032   3032   3032              3032
        pyramid           1      1      1                 1
        rectangle      1070   1070   1070              1070
        round             2      2      2                 2
        sphere         4347   4347   4347              4347
        teardrop        592    592    592               592
        triangle       6549   6549   6549              6549
        unknown        4567   4567   4567              4567

                   duration_hours_min  comments  date_posted  latitude  \
country shape
0       0                         271       271          271       271
        changing                  252       252          252       252
        chevron                    89        89           89        89
        cigar                     262       262          262       262
        circle                    891       891          891       891
        cone                       40        40           40        40
        crescent                    1         1            1         1
        cross                      25        25           25        25
        cylinder                  161       161          161       161
        diamond                   154       154          154       154
        disk                      736       736          736       736
        dome                        1         1            1         1
        egg                       105       105          105       105
        fireball                  682       682          682       682
        flash                     174       174          174       174
        formation                 286       286          286       286
        light                    1937      1937         1937      1937
        other                     760       760          760       760
        oval                      448       448          448       448
        rectangle                 139       139          139       139
        sphere                    655       655          655       655
        teardrop                   88        88           88        88
        triangle                  827       827          827       827
        unknown                   685       685          685       685
au      0                          11        11           11        11
        changing                    9         9            9         9
        chevron                     3         3            3         3
        cigar                      15        15           15        15
        circle                     62        62           62        62
        cone                        6         6            6         6
...                               ...       ...          ...       ...
gb      unknown                    92        92           92        92
us      0                        1553      1553         1553      1553
        changed                     1         1            1         1
        changing                 1584      1584         1584      1584
        chevron                   815       815          815       815
        cigar                    1643      1643         1643      1643
        circle                   6118      6118         6118      6118
        cone                      247       247          247       247
        crescent                    1         1            1         1
        cross                     188       188          188       188
        cylinder                 1027      1027         1027      1027
        delta                       6         6            6         6
        diamond                   928       928          928       928
        disk                     4121      4121         4121      4121
        egg                       581       581          581       581
        fireball                 5148      5148         5148      5148
        flare                       1         1            1         1
        flash                    1062      1062         1062      1062
        formation                1990      1990         1990      1990
        hexagon                     1         1            1         1
        light                   13473     13473        13473     13473
        other                    4466      4466         4466      4466
        oval                     3032      3032         3032      3032
        pyramid                     1         1            1         1
        rectangle                1070      1070         1070      1070
        round                       2         2            2         2
        sphere                   4347      4347         4347      4347
        teardrop                  592       592          592       592
        triangle                 6549      6549         6549      6549
        unknown                  4567      4567         4567      4567

                   longitude   duration_seconds_interval
country shape
0       0                 271                        271
        changing          252                        252
        chevron            89                         89
        cigar             262                        262
        circle            891                        891
        cone               40                         40
        crescent            1                          1
        cross              25                         25
        cylinder          161                        161
        diamond           154                        154
        disk              736                        736
        dome                1                          1
        egg               105                        105
        fireball          682                        682
        flash             174                        174
        formation         286                        286
        light            1937                       1937
        other             760                        760
        oval              448                        448
        rectangle         139                        139
        sphere            655                        655
        teardrop           88                         88
        triangle          827                        827
        unknown           685                        685
au      0                  11                         11
        changing            9                          9
        chevron             3                          3
        cigar              15                         15
        circle             62                         62
        cone                6                          6
...                       ...                        ...
gb      unknown            92                         92
us      0                1553                       1553
        changed             1                          1
        changing         1584                       1584
        chevron           815                        815
        cigar            1643                       1643
        circle           6118                       6118
        cone              247                        247
        crescent            1                          1
        cross             188                        188
        cylinder         1027                       1027
        delta               6                          6
        diamond           928                        928
        disk             4121                       4121
        egg               581                        581
        fireball         5148                       5148
        flare               1                          1
        flash            1062                       1062
        formation        1990                       1990
        hexagon             1                          1
        light           13473                      13473
        other            4466                       4466
        oval             3032                       3032
        pyramid             1                          1
        rectangle        1070                       1070
        round               2                          2
        sphere           4347                       4347
        teardrop          592                        592
        triangle         6549                       6549
        unknown          4567                       4567

[139 rows x 10 columns]

In [86]:
ufos.groupby([ 'shape', 'country']).count()

                   datetime  city  state  duration_seconds  \
shape     country
0         0             271   271    271               271
          au             11    11     11                11
          ca             45    45     45                45
          de              2     2      2                 2
          gb             50    50     50                50
          us           1553  1553   1553              1553
changed   us              1     1      1                 1
changing  0             252   252    252               252
          au              9     9      9                 9
          ca             69    69     69                69
          de              2     2      2                 2
          gb             46    46     46                46
          us           1584  1584   1584              1584
chevron   0              89    89     89                89
          au              3     3      3                 3
          ca             36    36     36                36
          de              1     1      1                 1
          gb              8     8      8                 8
          us            815   815    815               815
cigar     0             262   262    262               262
          au             15    15     15                15
          ca             74    74     74                74
          de              3     3      3                 3
          gb             60    60     60                60
          us           1643  1643   1643              1643
circle    0             891   891    891               891
          au             62    62     62                62
          ca            284   284    284               284
          de             10    10     10                10
          gb            243   243    243               243
...                     ...   ...    ...               ...
rectangle 0             139   139    139               139
          au             10    10     10                10
          ca             47    47     47                47
          de              1     1      1                 1
          gb             29    29     29                29
          us           1070  1070   1070              1070
round     us              2     2      2                 2
sphere    0             655   655    655               655
          au             15    15     15                15
          ca            205   205    205               205
          de              7     7      7                 7
          gb            158   158    158               158
          us           4347  4347   4347              4347
teardrop  0              88    88     88                88
          au             10    10     10                10
          ca             22    22     22                22
          gb             38    38     38                38
          us            592   592    592               592
triangle  0             827   827    827               827
          au             43    43     43                43
          ca            268   268    268               268
          de              9     9      9                 9
          gb            169   169    169               169
          us           6549  6549   6549              6549
unknown   0             685   685    685               685
          au             25    25     25                25
          ca            207   207    207               207
          de              8     8      8                 8
          gb             92    92     92                92
          us           4567  4567   4567              4567

                   duration_hours_min  comments  date_posted  latitude  \
shape     country
0         0                       271       271          271       271
          au                       11        11           11        11
          ca                       45        45           45        45
          de                        2         2            2         2
          gb                       50        50           50        50
          us                     1553      1553         1553      1553
changed   us                        1         1            1         1
changing  0                       252       252          252       252
          au                        9         9            9         9
          ca                       69        69           69        69
          de                        2         2            2         2
          gb                       46        46           46        46
          us                     1584      1584         1584      1584
chevron   0                        89        89           89        89
          au                        3         3            3         3
          ca                       36        36           36        36
          de                        1         1            1         1
          gb                        8         8            8         8
          us                      815       815          815       815
cigar     0                       262       262          262       262
          au                       15        15           15        15
          ca                       74        74           74        74
          de                        3         3            3         3
          gb                       60        60           60        60
          us                     1643      1643         1643      1643
circle    0                       891       891          891       891
          au                       62        62           62        62
          ca                      284       284          284       284
          de                       10        10           10        10
          gb                      243       243          243       243
...                               ...       ...          ...       ...
rectangle 0                       139       139          139       139
          au                       10        10           10        10
          ca                       47        47           47        47
          de                        1         1            1         1
          gb                       29        29           29        29
          us                     1070      1070         1070      1070
round     us                        2         2            2         2
sphere    0                       655       655          655       655
          au                       15        15           15        15
          ca                      205       205          205       205
          de                        7         7            7         7
          gb                      158       158          158       158
          us                     4347      4347         4347      4347
teardrop  0                        88        88           88        88
          au                       10        10           10        10
          ca                       22        22           22        22
          gb                       38        38           38        38
          us                      592       592          592       592
triangle  0                       827       827          827       827
          au                       43        43           43        43
          ca                      268       268          268       268
          de                        9         9            9         9
          gb                      169       169          169       169
          us                     6549      6549         6549      6549
unknown   0                       685       685          685       685
          au                       25        25           25        25
          ca                      207       207          207       207
          de                        8         8            8         8
          gb                       92        92           92        92
          us                     4567      4567         4567      4567

                   longitude   duration_seconds_interval
shape     country
0         0               271                        271
          au               11                         11
          ca               45                         45
          de                2                          2
          gb               50                         50
          us             1553                       1553
changed   us                1                          1
changing  0               252                        252
          au                9                          9
          ca               69                         69
          de                2                          2
          gb               46                         46
          us             1584                       1584
chevron   0                89                         89
          au                3                          3
          ca               36                         36
          de                1                          1
          gb                8                          8
          us              815                        815
cigar     0               262                        262
          au               15                         15
          ca               74                         74
          de                3                          3
          gb               60                         60
          us             1643                       1643
circle    0               891                        891
          au               62                         62
          ca              284                        284
          de               10                         10
          gb              243                        243
...                       ...                        ...
rectangle 0               139                        139
          au               10                         10
          ca               47                         47
          de                1                          1
          gb               29                         29
          us             1070                       1070
round     us                2                          2
sphere    0               655                        655
          au               15                         15
          ca              205                        205
          de                7                          7
          gb              158                        158
          us             4347                       4347
teardrop  0                88                         88
          au               10                         10
          ca               22                         22
          gb               38                         38
          us              592                        592
triangle  0               827                        827
          au               43                         43
          ca              268                        268
          de                9                          9
          gb              169                        169
          us             6549                       6549
unknown   0               685                        685
          au               25                         25
          ca              207                        207
          de                8                          8
          gb               92                         92
          us             4567                       4567

[139 rows x 10 columns]

In [88]:
QUESTION
ufos.shape
ufos['shape']

(80331, 12)

In [90]:
set(ufos['shape'])

{0,
 'changed',
 'changing',
 'chevron',
 'cigar',
 'circle',
 'cone',
 'crescent',
 'cross',
 'cylinder',
 'delta',
 'diamond',
 'disk',
 'dome',
 'egg',
 'fireball',
 'flare',
 'flash',
 'formation',
 'hexagon',
 'light',
 'other',
 'oval',
 'pyramid',
 'rectangle',
 'round',
 'sphere',
 'teardrop',
 'triangle',
 'unknown'}

There are a lot of shapes. I will take the most importants.

In [121]:
important_shapes = ufos.groupby(['shape']).count()[[ufos.columns[0]]].sort_values(by='datetime', ascending=False)

In [122]:
important_shapes.rename(columns = {'datetime': 'total_views'}, inplace=True)

In [123]:
important_shapes

           total_views
shape
light            16565
triangle          7865
circle            7608
fireball          6208
other             5649
unknown           5584
sphere            5387
disk              5213
oval              3733
formation         2457
cigar             2057
changing          1962
0                 1932
flash             1328
rectangle         1296
cylinder          1283
diamond           1178
chevron            952
egg                759
teardrop           750
cone               316
cross              233
delta                7
crescent             2
round                2
hexagon              1
pyramid              1
flare                1
changed              1
dome                 1

In [124]:
ufos.shape[0]

80331

In [125]:
# Qué porcentaje representa?
important_shapes['per'] = 100 * important_shapes['total_views'] / ufos.shape[0]
important_shapes

           total_views        per
shape
light            16565  20.620931
triangle          7865   9.790741
circle            7608   9.470815
fireball          6208   7.728025
other             5649   7.032154
unknown           5584   6.951239
sphere            5387   6.706004
disk              5213   6.489400
oval              3733   4.647023
formation         2457   3.058595
cigar             2057   2.560655
changing          1962   2.442395
0                 1932   2.405049
flash             1328   1.653160
rectangle         1296   1.613325
cylinder          1283   1.597142
diamond           1178   1.466433
chevron            952   1.185097
egg                759   0.944841
teardrop           750   0.933637
cone               316   0.393372
cross              233   0.290050
delta                7   0.008714
crescent             2   0.002490
round                2   0.002490
hexagon              1   0.001245
pyramid              1   0.001245
flare                1   0.001245
changed              1   0.001245
dome                 1   0.001245

In [126]:
cumsum_per = important_shapes[['per']].cumsum().rename(columns={'per': 'cumsum_per'})
important_shapes = important_shapes.merge(cumsum_per, how='inner', left_index=True, right_index=True)
important_shapes

           total_views        per  cumsum_per
shape
light            16565  20.620931   20.620931
triangle          7865   9.790741   30.411672
circle            7608   9.470815   39.882486
fireball          6208   7.728025   47.610512
other             5649   7.032154   54.642666
unknown           5584   6.951239   61.593905
sphere            5387   6.706004   68.299909
disk              5213   6.489400   74.789309
oval              3733   4.647023   79.436332
formation         2457   3.058595   82.494927
cigar             2057   2.560655   85.055583
changing          1962   2.442395   87.497977
0                 1932   2.405049   89.903026
flash             1328   1.653160   91.556186
rectangle         1296   1.613325   93.169511
cylinder          1283   1.597142   94.766653
diamond           1178   1.466433   96.233086
chevron            952   1.185097   97.418182
egg                759   0.944841   98.363023
teardrop           750   0.933637   99.296660
cone               316   0.393372   99.690032
cross              233   0.290050   99.980082
delta                7   0.008714   99.988796
crescent             2   0.002490   99.991286
round                2   0.002490   99.993776
hexagon              1   0.001245   99.995021
pyramid              1   0.001245   99.996265
flare                1   0.001245   99.997510
changed              1   0.001245   99.998755
dome                 1   0.001245  100.000000

 Voy a coger el 80% de la muestra con forma, eso quiere decir que corto en oval.

Necesito una lista de los que voy a convertir a 'Otros'

In [129]:
set(ufos['shape'])

In [136]:
list(important_shapes.index)[9:]

['formation',
 'cigar',
 'changing',
 0,
 'flash',
 'rectangle',
 'cylinder',
 'diamond',
 'chevron',
 'egg',
 'teardrop',
 'cone',
 'cross',
 'delta',
 'crescent',
 'round',
 'hexagon',
 'pyramid',
 'flare',
 'changed',
 'dome']

In [143]:
shapes_to_other = list(important_shapes.index)[9:]

In [158]:
ufos['new_shape'] = ufos['shape'].apply(lambda x: 'other' if x in shapes_to_other else x)

In [153]:
ufos[['shape', 'new_shape']]

           shape new_shape
0       cylinder     other
1          light     other
2         circle     other
3         circle     other
4          light     other
5         sphere     other
6         circle     other
7           disk     other
8           disk     other
9           disk     other
10        circle     other
11      fireball     other
12          disk     other
13       unknown     other
14          oval     other
15        circle     other
16          disk     other
17          disk     other
18         light     other
19         other     other
20          disk     other
21         light     other
22         light     other
23          oval     other
24         cigar     other
25         other     other
26         light     other
27     rectangle     other
28       chevron     other
29      triangle     other
...          ...       ...
80302      light     other
80303     circle     other
80304      light     other
80305    chevron     other
80306     circle     other
80307       oval     other
80308      light     other
80309       oval     other
80310     circle     other
80311      flash     other
80312      light     other
80313    unknown     other
80314   triangle     other
80315    unknown     other
80316      light     other
80317      cigar     other
80318    unknown     other
80319      other     other
80320   fireball     other
80321   fireball     other
80322      light     other
80323   triangle     other
80324      light     other
80325   fireball     other
80326     sphere     other
80327      light     other
80328     circle     other
80329      other     other
80330     circle     other
80331      cigar     other

[80331 rows x 2 columns]

In [161]:
ufos.groupby(['shape', 'new_shape']).count().sort_values(by='new_shape')

,,datetime,city,state,country,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_interval
shape,new_shape,,,,,,,,,,,
circle,circle,7608,7608,7608,7608,7608,7608,7608,7608,7608,7608,7608
disk,disk,5213,5213,5213,5213,5213,5213,5213,5213,5213,5213,5213
fireball,fireball,6208,6208,6208,6208,6208,6208,6208,6208,6208,6208,6208
light,light,16565,16565,16565,16565,16565,16565,16565,16565,16565,16565,16565
0,other,1932,1932,1932,1932,1932,1932,1932,1932,1932,1932,1932
teardrop,other,750,750,750,750,750,750,750,750,750,750,750
round,other,2,2,2,2,2,2,2,2,2,2,2
rectangle,other,1296,1296,1296,1296,1296,1296,1296,1296,1296,1296,1296
pyramid,other,1,1,1,1,1,1,1,1,1,1,1
other,other,5649,5649,5649,5649,5649,5649,5649,5649,5649,5649,5649
hexagon,other,1,1,1,1,1,1,1,1,1,1,1
formation,other,2457,2457,2457,2457,2457,2457,2457,2457,2457,2457,2457
flash,other,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328
flare,other,1,1,1,1,1,1,1,1,1,1,1
egg,other,759,759,759,759,759,759,759,759,759,759,759
dome,other,1,1,1,1,1,1,1,1,1,1,1
diamond,other,1178,1178,1178,1178,1178,1178,1178,1178,1178,1178,1178
delta,other,7,7,7,7,7,7,7,7,7,7,7
cylinder,other,1283,1283,1283,1283,1283,1283,1283,1283,1283,1283,1283
cross,other,233,233,233,233,233,233,233,233,233,233,233
crescent,other,2,2,2,2,2,2,2,2,2,2,2
cone,other,316,316,316,316,316,316,316,316,316,316,316
cigar,other,2057,2057,2057,2057,2057,2057,2057,2057,2057,2057,2057
chevron,other,952,952,952,952,952,952,952,952,952,952,952
changing,other,1962,1962,1962,1962,1962,1962,1962,1962,1962,1962,1962
changed,other,1,1,1,1,1,1,1,1,1,1,1
oval,oval,3733,3733,3733,3733,3733,3733,3733,3733,3733,3733,3733
sphere,sphere,5387,5387,5387,5387,5387,5387,5387,5387,5387,5387,5387
triangle,triangle,7865,7865,7865,7865,7865,7865,7865,7865,7865,7865,7865
unknown,unknown,5584,5584,5584,5584,5584,5584,5584,5584,5584,5584,5584

In [167]:
shape_country_total_views = ufos.groupby(['new_shape', 'country']).count()[[ufos.columns[0]]].rename(columns={'datetime': 'total_views'})

In [171]:
shape_country_mean_duration = ufos.groupby(['new_shape','country']).mean().rename(columns={'duration_seconds': 'mean_duration'})[['mean_duration']]

QUESTION Las medias son las mismas que las de antes?

In [173]:
shape_country_total_views.merge(shape_country_mean_duration, how = 'inner', left_index=True, right_index=True)

                   total_views  mean_duration
new_shape country
circle    0                891   14230.567901
          au                62    1096.629032
          ca               284     654.566901
          de                10    1990.000000
          gb               243     856.722634
          us              6118    3777.292285
disk      0                736    1499.321332
          au                50     438.900000
          ca               198    1193.974747
          de                 6     202.000000
          gb               102    1703.235294
          us              4121    1474.505176
fireball  0                682    4373.329912
          au                34     320.941176
          ca               218     382.441284
          de                 9    2780.222222
          gb               117     317.495726
          us              5148    4242.728153
light     0               1937    5784.004094
          au               119    4258.625630
          ca               655    1224.356489
          de                20   31021.250000
          gb               361     871.603878
          us             13473   15194.785959
other     0               2808   28729.815780
          au               160    1173.859375
          ca               835  100975.994395
          de                29    1615.034483
          gb               577   45979.351473
          us             17759    3917.791758
oval      0                448   16186.132143
          au                30     560.633333
          ca               130    2972.084615
          de                 7      75.571429
          gb                86     703.947674
          us              3032    2255.203496
sphere    0                655   15523.633069
          au                15   80898.000000
          ca               205    1074.346341
          de                 7     622.142857
          gb               158  621570.689873
          us              4347    1737.741189
triangle  0                827    1610.093108
          au                43     363.581395
          ca               268     619.186567
          de                 9  201994.333333
          gb               169    1652.171598
          us              6549    1447.421929
unknown   0                685    3312.623956
          au                25     260.620000
          ca               207     884.888889
          de                 8    1331.250000
          gb                92     381.478261
          us              4567    6233.483884

Now we want to compare the duration of each view with the mean. We need to merge both dataframes.

In [174]:
shape_country = shape_country_total_views.merge(shape_country_mean_duration, how = 'inner', left_index=True, right_index=True)

Preguntar: Will it work?

In [175]:
ufos.merge(shape_country, how='inner', left_index=True, right_index=True)

ValueError: cannot join with no level specified and no overlapping names

In [177]:
ufos.head(1)

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_interval,new_shape
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,Very Low,other

In [178]:
shape_country.head(1)

                   total_views  mean_duration
new_shape country
circle    0                891   14230.567901

Necesitamos decir la columna para mergear. Intentamos acceder a ella.

In [179]:
ufos.merge(shape_country, how='inner', on=['country', 'new_shape'])

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_interval,new_shape,total_views,mean_duration
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,Very Low,other,17759,3917.791758
1,1974-10-10 19:30:00,hudson,ma,us,other,2700.0,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.391667,-71.566667,Very Low,other,17759,3917.791758
2,1977-10-10 12:00:00,san antonio,tx,us,other,30.0,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.423889,-98.493333,Very Low,other,17759,3917.791758
3,1978-10-10 02:00:00,elmont,ny,us,rectangle,300.0,5min,A memory I will never forget that happened men...,2/1/2007,40.700833,-73.713333,Very Low,other,17759,3917.791758
4,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900.0,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.700278,-73.921389,Very Low,other,17759,3917.791758
5,1984-10-10 12:00:00,traverse city,mi,us,other,120.0,couple minutes,translucent football seen over city airport,10/7/2003,44.763056,-85.620556,Very Low,other,17759,3917.791758
6,1984-10-10 22:00:00,white plains,ny,us,formation,20.0,15-20 seconds,Saw a hugh object in sky with lights intermitt...,8/10/1999,41.033889,-73.763333,Very Low,other,17759,3917.791758
7,1992-10-10 17:00:00,panama city,fl,us,formation,3600.0,1 hour(?),During a road trip to Panama City a friend and...,1/28/1999,30.158611,-85.660278,Very Low,other,17759,3917.791758
8,1992-10-10 20:15:00,seymour,tn,us,cigar,60.0,1min. 39s,Stationary Elongated UFO 200ft above vacant fi...,10/31/2008,35.890556,-83.724722,Very Low,other,17759,3917.791758
9,1993-10-10 23:00:00,carthage,tn,us,other,60.0,less than 1 min,1 object with green and red lights,3/21/2003,36.252222,-85.951667,Very Low,other,17759,3917.791758
10,1994-10-10 18:30:00,burnt hills,ny,us,rectangle,120.0,2 minutes,Giant rectangular craft (resembling an upside-...,10/23/2013,42.909722,-73.895556,Very Low,other,17759,3917.791758
11,1995-10-10 19:45:00,milwaukee,wi,us,0,120.0,2 min.,Man on Hwy 43 SW of Milwaukee sees large&#44 ...,11/2/1999,43.038889,-87.906389,Very Low,other,17759,3917.791758
12,1995-10-10 22:40:00,oakland,ca,us,0,60.0,1 minute,Woman repts. bright light in NW sky&#44 sudde...,11/2/1999,37.804444,-122.269722,Very Low,other,17759,3917.791758
13,1996-10-10 22:30:00,monroe county,oh,us,cylinder,60.0,1 minute,Looked like it went through the hillside,7/8/2004,39.440278,-84.362222,Very Low,other,17759,3917.791758
14,1997-10-10 16:00:00,connersville,in,us,delta,14400.0,4 hours,3 differants types &#44 cluster &#44delta &#44...,1/28/1999,39.641111,-85.141111,Very Low,other,17759,3917.791758
15,1997-10-10 21:00:00,austin,mn,us,other,3600.0,1-hour,i was traveling northbound on state highway 10...,1/28/1999,43.666667,-92.974444,Very Low,other,17759,3917.791758
16,1998-10-10 02:30:00,hollywood,ca,us,changing,300.0,5 minutes,I was standing outside on Sunset Blvd. at Vine...,11/1/1998,34.098333,-118.325833,Very Low,other,17759,3917.791758
17,1998-10-10 13:15:00,elgin,il,us,cylinder,1800.0,30 +/- min,While looking up at sky I noticed a bright lig...,11/1/1998,42.037222,-88.281111,Very Low,other,17759,3917.791758
18,1998-10-10 17:30:00,las vegas,nv,us,cigar,600.0,10 minutes,White&#44 vertical cigar shape floating around...,11/1/1998,36.175000,-115.136389,Very Low,other,17759,3917.791758
19,1999-10-10 00:01:00,martinez,ca,us,changing,3600.0,1 hour,Bright objects&#44 red and green flashing ligh...,10/19/1999,38.019444,-122.133056,Very Low,other,17759,3917.791758
20,1999-10-10 06:00:00,dallas,tx,us,other,10.0,10 seconds,group of twinkling lights at high altitude,11/20/2001,32.783333,-96.800000,Very Low,other,17759,3917.791758
21,1999-10-10 22:30:00,elgin,or,us,chevron,240.0,4 minutes,Object silently traveled north -northwest. It ...,10/19/1999,45.565000,-117.916389,Very Low,other,17759,3917.791758
22,2000-10-10 06:15:00,boynton beach,fl,us,other,10.0,10 seconds,Unusual light formation moving extremely fast ...,12/2/2000,26.525000,-80.066667,Very Low,other,17759,3917.791758
23,2000-10-10 22:00:00,port orchard,wa,us,diamond,60.0,1min,One night my window started to flash,5/12/2009,47.540556,-122.635000,Very Low,other,17759,3917.791758
24,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300.0,3-5 minutes,We saw a square object at night&#44 which had...,11/20/2001,41.004167,-92.373611,Very Low,other,17759,3917.791758
25,2001-10-10 21:30:00,fresno,ca,us,changing,900.0,15 min. apprx,Objects were sighted driving north on Highway ...,11/20/2001,36.747778,-119.771389,Very Low,other,17759,3917.791758
26,2002-10-10 00:01:00,hayward,wi,us,flash,43.0,00:43,we saw pure a light that occasionaly split int...,10/15/2002,46.013056,-91.484444,Very Low,other,17759,3917.791758
27,2002-10-10 20:30:00,cincinnati,oh,us,other,1800.0,30 minutes,Large octagon blue lights on rim red center li...,10/15/2002,39.161944,-84.456944,Very Low,other,17759,3917.791758
28,2003-10-10 19:15:00,centreville,va,us,other,600.0,10 minutes,Aliens check out local high school football game.,10/15/2003,38.840278,-77.429167,Very Low,other,17759,3917.791758
29,2003-10-10 21:10:00,crescent beach,sc,us,formation,37800.0,1 1/2 hr.,For two consecutive nights&#44 we watched a pa...,1/17/2004,33.807500,-78.701111,Very Low,other,17759,3917.791758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80301,2007-12-26 13:25:00,ransbach-baumbach (germany),0,de,oval,12.0,12 seconds,Oval accerlating to incredible speed. 500 Ligh...,3/4/2008,50.466667,7.733333,Very Low,oval,7,75.571429
80302,2003-01-25 14:03:00,bensheim (germany),0,de,oval,15.0,10-15 seconds,I saw a white spot with a white cloudy haze ar...,1/26/2003,49.680278,8.616111,Very Low,oval,7,75.571429
80303,1994-01-30 18:00:00,chemnitz (germany),0,de,oval,20.0,20sec,UFO during wintertime 1993/1994 in Chemnitz/Ge...,12/12/2009,50.833333,12.916667,Very Low,oval,7,75.571429
80304,2005-03-12 14:30:00,langenleiten (germany),0,de,oval,180.0,2-3 minutes,Bright two segmented object fly&#180;s by.,4/16/2005,50.333333,9.983333,Very Low,oval,7,75.571429
80305,2014-04-07 22:00:00,frankfurt am main (germany),0,de,oval,120.0,2 minutes,Translucent shimmering oval object in the fabr...,4/18/2014,50.116667,8.683333,Very Low,oval,7,75.571429
80306,2006-07-15 18:00:00,fulda (near) (germany),0,de,oval,2.0,a few seconds,strange sighting,3/4/2008,50.550000,9.666667,Very Low,oval,7,75.571429
80307,2004-07-18 23:45:00,kassel (germany) (on highway),0,de,oval,180.0,2 to 3 s,7/18/04 Germany Highway 44 star flying t...,7/25/2004,51.316667,9.500000,Very Low,oval,7,75.571429
80308,2003-02-04 23:15:00,hamburg (germany),0,de,circle,18000.0,0.05 hour,we saw two circles above a field&#44 they were...,3/4/2003,53.550000,10.000000,Very Low,circle,10,1990.000000
80309,2013-04-15 00:00:00,munich (near) (germany),0,de,circle,120.0,2 minutes,UFO Germany.,12/2/2013,48.150000,11.583300,Very Low,circle,10,1990.000000
80310,2012-04-25 01:00:00,freiburg (germany),0,de,circle,40.0,40 seconds,Me and my wife saw 14 fire balls without smoke...,7/22/2013,50.916667,13.366667,Very Low,circle,10,1990.000000
80311,1971-05-15 02:00:00,trier (germany),0,de,circle,15.0,15 seconds,A circular object noted in West Germany in 197...,3/4/2003,49.750000,6.633333,Very Low,circle,10,1990.000000
80312,2014-05-06 00:00:00,bocholt (germany),0,de,circle,240.0,4 minutes,((HOAX)) ((NUFORC Note: No information provi...,5/8/2014,51.833333,6.600000,Very Low,circle,10,1990.000000
80313,2001-07-14 23:15:00,bamberg (germany/bavaria),0,de,circle,180.0,3 minutes,The round object was glowing red with bright l...,8/5/2001,49.866667,10.866667,Very Low,circle,10,1990.000000
80314,2012-07-28 21:45:00,berlin (germany),0,de,circle,300.0,5 minutes,Four red lights&#44 one circular object,8/5/2012,52.516667,13.400000,Very Low,circle,10,1990.000000
80315,2000-08-20 23:00:00,weissenburg (germany),0,de,circle,90.0,1.5 min,the object grew big and schrank again then fle...,10/12/2001,50.733333,11.450000,Very Low,circle,10,1990.000000
80316,2008-08-23 22:55:00,berlin (germany),0,de,circle,15.0,10-15 seconds,august 23 &#44 Berlin&#44Germany at 22:55 ca. ...,10/31/2008,52.516667,13.400000,Very Low,circle,10,1990.000000
80317,2000-08-29 01:30:00,hannover (germany),0,de,circle,900.0,15 minutes,4 white circular lights moving into the centre...,9/21/2000,53.183333,8.516667,Very Low,circle,10,1990.000000
80318,1968-04-10 17:00:00,munich (oberschliessheim army airfield) (germany),0,de,disk,600.0,10 minutes,I was in the military at the time part of with...,2/22/2005,48.150000,11.583300,Very Low,disk,6,202.000000
80319,2005-06-15 14:32:00,frankfurt (germany),0,de,disk,300.0,5minutes,Very Positive it wasnt a hoax&#44 it was real ...,8/7/2007,52.350000,14.550000,Very Low,disk,6,202.000000
80320,1974-06-24 14:40:00,schweinfurt (west germany),0,de,disk,120.0,2 minutes,A bus of 34 tourists&#44 of whom were mainly f...,8/5/2009,50.050000,10.233333,Very Low,disk,6,202.000000
80321,2006-06-26 04:30:00,emlichheim (germany),0,de,disk,10.0,10 sec or more?,saucer hovers over neigbour house and beams li...,7/16/2006,52.616667,6.850000,Very Low,disk,6,202.000000
80322,2002-07-22 15:00:00,maugenhard (germany),0,de,disk,180.0,2-3 minutes,Not just another ordinary UFO sighting&#33&#33...,12/23/2002,47.674890,7.631976,Very Low,disk,6,202.000000
80323,2008-07-25 15:04:00,regensburg (germany),0,de,disk,2.0,2 seconds,Took picture of a large circular/disc with a ...,8/24/2010,49.015000,12.095556,Very Low,disk,6,202.000000
80324,2008-05-10 12:00:00,erlangen (germany),0,de,sphere,1200.0,20 mins.,hovering&#44zipping around&#44the craft dissap...,4/14/2009,49.589722,11.003889,Very Low,sphere,7,622.142857
80325,1981-06-13 22:00:00,stuttgart (germany),0,de,sphere,300.0,5 minutes,2 sightings in Germany,5/15/2013,48.766667,9.183333,Very Low,sphere,7,622.142857
80326,2009-06-28 00:24:00,staufen (germany),0,de,sphere,900.0,15 mins,7 red and orange glowing lights hovering over ...,8/5/2009,48.666667,10.283333,Very Low,sphere,7,622.142857
80327,1970-06-06 18:00:00,mannheim (west germany),0,de,sphere,30.0,30 seconds,While serving as a military pilot in West Germ...,7/16/2006,49.488333,8.464722,Very Low,sphere,7,622.142857
80328,2010-06-08 19:45:00,munich (germany),0,de,sphere,120.0,2 minutes,Anthracite&#44 black&#44 silent sphere over Mu...,11/21/2010,48.150000,11.583300,Very Low,sphere,7,622.142857
80329,2008-08-23 22:30:00,bitburg (germany),0,de,sphere,1800.0,30 minutes,Orange glowing lights float in formation over ...,10/31/2008,49.966667,6.533333,Very Low,sphere,7,622.142857
80330,2011-09-13 12:00:00,heilbronn (germany),0,de,sphere,5.0,5 seconds,9/13/2011 Heilbroon&#44 Baden-Werttemberg&#44 ...,10/14/2013,49.166667,10.366667,Very Low,sphere,7,622.142857

Si no se llaman igual, siempre tenemos la opción

In [181]:
ufos = ufos.merge(shape_country, how='inner', left_on=['country', 'new_shape'], right_on=['country', 'new_shape'])
ufos

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_interval,new_shape,total_views,mean_duration
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,Very Low,other,17759,3917.791758
1,1974-10-10 19:30:00,hudson,ma,us,other,2700.0,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.391667,-71.566667,Very Low,other,17759,3917.791758
2,1977-10-10 12:00:00,san antonio,tx,us,other,30.0,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.423889,-98.493333,Very Low,other,17759,3917.791758
3,1978-10-10 02:00:00,elmont,ny,us,rectangle,300.0,5min,A memory I will never forget that happened men...,2/1/2007,40.700833,-73.713333,Very Low,other,17759,3917.791758
4,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900.0,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.700278,-73.921389,Very Low,other,17759,3917.791758
5,1984-10-10 12:00:00,traverse city,mi,us,other,120.0,couple minutes,translucent football seen over city airport,10/7/2003,44.763056,-85.620556,Very Low,other,17759,3917.791758
6,1984-10-10 22:00:00,white plains,ny,us,formation,20.0,15-20 seconds,Saw a hugh object in sky with lights intermitt...,8/10/1999,41.033889,-73.763333,Very Low,other,17759,3917.791758
7,1992-10-10 17:00:00,panama city,fl,us,formation,3600.0,1 hour(?),During a road trip to Panama City a friend and...,1/28/1999,30.158611,-85.660278,Very Low,other,17759,3917.791758
8,1992-10-10 20:15:00,seymour,tn,us,cigar,60.0,1min. 39s,Stationary Elongated UFO 200ft above vacant fi...,10/31/2008,35.890556,-83.724722,Very Low,other,17759,3917.791758
9,1993-10-10 23:00:00,carthage,tn,us,other,60.0,less than 1 min,1 object with green and red lights,3/21/2003,36.252222,-85.951667,Very Low,other,17759,3917.791758
10,1994-10-10 18:30:00,burnt hills,ny,us,rectangle,120.0,2 minutes,Giant rectangular craft (resembling an upside-...,10/23/2013,42.909722,-73.895556,Very Low,other,17759,3917.791758
11,1995-10-10 19:45:00,milwaukee,wi,us,0,120.0,2 min.,Man on Hwy 43 SW of Milwaukee sees large&#44 ...,11/2/1999,43.038889,-87.906389,Very Low,other,17759,3917.791758
12,1995-10-10 22:40:00,oakland,ca,us,0,60.0,1 minute,Woman repts. bright light in NW sky&#44 sudde...,11/2/1999,37.804444,-122.269722,Very Low,other,17759,3917.791758
13,1996-10-10 22:30:00,monroe county,oh,us,cylinder,60.0,1 minute,Looked like it went through the hillside,7/8/2004,39.440278,-84.362222,Very Low,other,17759,3917.791758
14,1997-10-10 16:00:00,connersville,in,us,delta,14400.0,4 hours,3 differants types &#44 cluster &#44delta &#44...,1/28/1999,39.641111,-85.141111,Very Low,other,17759,3917.791758
15,1997-10-10 21:00:00,austin,mn,us,other,3600.0,1-hour,i was traveling northbound on state highway 10...,1/28/1999,43.666667,-92.974444,Very Low,other,17759,3917.791758
16,1998-10-10 02:30:00,hollywood,ca,us,changing,300.0,5 minutes,I was standing outside on Sunset Blvd. at Vine...,11/1/1998,34.098333,-118.325833,Very Low,other,17759,3917.791758
17,1998-10-10 13:15:00,elgin,il,us,cylinder,1800.0,30 +/- min,While looking up at sky I noticed a bright lig...,11/1/1998,42.037222,-88.281111,Very Low,other,17759,3917.791758
18,1998-10-10 17:30:00,las vegas,nv,us,cigar,600.0,10 minutes,White&#44 vertical cigar shape floating around...,11/1/1998,36.175000,-115.136389,Very Low,other,17759,3917.791758
19,1999-10-10 00:01:00,martinez,ca,us,changing,3600.0,1 hour,Bright objects&#44 red and green flashing ligh...,10/19/1999,38.019444,-122.133056,Very Low,other,17759,3917.791758
20,1999-10-10 06:00:00,dallas,tx,us,other,10.0,10 seconds,group of twinkling lights at high altitude,11/20/2001,32.783333,-96.800000,Very Low,other,17759,3917.791758
21,1999-10-10 22:30:00,elgin,or,us,chevron,240.0,4 minutes,Object silently traveled north -northwest. It ...,10/19/1999,45.565000,-117.916389,Very Low,other,17759,3917.791758
22,2000-10-10 06:15:00,boynton beach,fl,us,other,10.0,10 seconds,Unusual light formation moving extremely fast ...,12/2/2000,26.525000,-80.066667,Very Low,other,17759,3917.791758
23,2000-10-10 22:00:00,port orchard,wa,us,diamond,60.0,1min,One night my window started to flash,5/12/2009,47.540556,-122.635000,Very Low,other,17759,3917.791758
24,2001-10-10 21:15:00,ottumwa,ia,us,rectangle,300.0,3-5 minutes,We saw a square object at night&#44 which had...,11/20/2001,41.004167,-92.373611,Very Low,other,17759,3917.791758
25,2001-10-10 21:30:00,fresno,ca,us,changing,900.0,15 min. apprx,Objects were sighted driving north on Highway ...,11/20/2001,36.747778,-119.771389,Very Low,other,17759,3917.791758
26,2002-10-10 00:01:00,hayward,wi,us,flash,43.0,00:43,we saw pure a light that occasionaly split int...,10/15/2002,46.013056,-91.484444,Very Low,other,17759,3917.791758
27,2002-10-10 20:30:00,cincinnati,oh,us,other,1800.0,30 minutes,Large octagon blue lights on rim red center li...,10/15/2002,39.161944,-84.456944,Very Low,other,17759,3917.791758
28,2003-10-10 19:15:00,centreville,va,us,other,600.0,10 minutes,Aliens check out local high school football game.,10/15/2003,38.840278,-77.429167,Very Low,other,17759,3917.791758
29,2003-10-10 21:10:00,crescent beach,sc,us,formation,37800.0,1 1/2 hr.,For two consecutive nights&#44 we watched a pa...,1/17/2004,33.807500,-78.701111,Very Low,other,17759,3917.791758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80301,2007-12-26 13:25:00,ransbach-baumbach (germany),0,de,oval,12.0,12 seconds,Oval accerlating to incredible speed. 500 Ligh...,3/4/2008,50.466667,7.733333,Very Low,oval,7,75.571429
80302,2003-01-25 14:03:00,bensheim (germany),0,de,oval,15.0,10-15 seconds,I saw a white spot with a white cloudy haze ar...,1/26/2003,49.680278,8.616111,Very Low,oval,7,75.571429
80303,1994-01-30 18:00:00,chemnitz (germany),0,de,oval,20.0,20sec,UFO during wintertime 1993/1994 in Chemnitz/Ge...,12/12/2009,50.833333,12.916667,Very Low,oval,7,75.571429
80304,2005-03-12 14:30:00,langenleiten (germany),0,de,oval,180.0,2-3 minutes,Bright two segmented object fly&#180;s by.,4/16/2005,50.333333,9.983333,Very Low,oval,7,75.571429
80305,2014-04-07 22:00:00,frankfurt am main (germany),0,de,oval,120.0,2 minutes,Translucent shimmering oval object in the fabr...,4/18/2014,50.116667,8.683333,Very Low,oval,7,75.571429
80306,2006-07-15 18:00:00,fulda (near) (germany),0,de,oval,2.0,a few seconds,strange sighting,3/4/2008,50.550000,9.666667,Very Low,oval,7,75.571429
80307,2004-07-18 23:45:00,kassel (germany) (on highway),0,de,oval,180.0,2 to 3 s,7/18/04 Germany Highway 44 star flying t...,7/25/2004,51.316667,9.500000,Very Low,oval,7,75.571429
80308,2003-02-04 23:15:00,hamburg (germany),0,de,circle,18000.0,0.05 hour,we saw two circles above a field&#44 they were...,3/4/2003,53.550000,10.000000,Very Low,circle,10,1990.000000
80309,2013-04-15 00:00:00,munich (near) (germany),0,de,circle,120.0,2 minutes,UFO Germany.,12/2/2013,48.150000,11.583300,Very Low,circle,10,1990.000000
80310,2012-04-25 01:00:00,freiburg (germany),0,de,circle,40.0,40 seconds,Me and my wife saw 14 fire balls without smoke...,7/22/2013,50.916667,13.366667,Very Low,circle,10,1990.000000
80311,1971-05-15 02:00:00,trier (germany),0,de,circle,15.0,15 seconds,A circular object noted in West Germany in 197...,3/4/2003,49.750000,6.633333,Very Low,circle,10,1990.000000
80312,2014-05-06 00:00:00,bocholt (germany),0,de,circle,240.0,4 minutes,((HOAX)) ((NUFORC Note: No information provi...,5/8/2014,51.833333,6.600000,Very Low,circle,10,1990.000000
80313,2001-07-14 23:15:00,bamberg (germany/bavaria),0,de,circle,180.0,3 minutes,The round object was glowing red with bright l...,8/5/2001,49.866667,10.866667,Very Low,circle,10,1990.000000
80314,2012-07-28 21:45:00,berlin (germany),0,de,circle,300.0,5 minutes,Four red lights&#44 one circular object,8/5/2012,52.516667,13.400000,Very Low,circle,10,1990.000000
80315,2000-08-20 23:00:00,weissenburg (germany),0,de,circle,90.0,1.5 min,the object grew big and schrank again then fle...,10/12/2001,50.733333,11.450000,Very Low,circle,10,1990.000000
80316,2008-08-23 22:55:00,berlin (germany),0,de,circle,15.0,10-15 seconds,august 23 &#44 Berlin&#44Germany at 22:55 ca. ...,10/31/2008,52.516667,13.400000,Very Low,circle,10,1990.000000
80317,2000-08-29 01:30:00,hannover (germany),0,de,circle,900.0,15 minutes,4 white circular lights moving into the centre...,9/21/2000,53.183333,8.516667,Very Low,circle,10,1990.000000
80318,1968-04-10 17:00:00,munich (oberschliessheim army airfield) (germany),0,de,disk,600.0,10 minutes,I was in the military at the time part of with...,2/22/2005,48.150000,11.583300,Very Low,disk,6,202.000000
80319,2005-06-15 14:32:00,frankfurt (germany),0,de,disk,300.0,5minutes,Very Positive it wasnt a hoax&#44 it was real ...,8/7/2007,52.350000,14.550000,Very Low,disk,6,202.000000
80320,1974-06-24 14:40:00,schweinfurt (west germany),0,de,disk,120.0,2 minutes,A bus of 34 tourists&#44 of whom were mainly f...,8/5/2009,50.050000,10.233333,Very Low,disk,6,202.000000
80321,2006-06-26 04:30:00,emlichheim (germany),0,de,disk,10.0,10 sec or more?,saucer hovers over neigbour house and beams li...,7/16/2006,52.616667,6.850000,Very Low,disk,6,202.000000
80322,2002-07-22 15:00:00,maugenhard (germany),0,de,disk,180.0,2-3 minutes,Not just another ordinary UFO sighting&#33&#33...,12/23/2002,47.674890,7.631976,Very Low,disk,6,202.000000
80323,2008-07-25 15:04:00,regensburg (germany),0,de,disk,2.0,2 seconds,Took picture of a large circular/disc with a ...,8/24/2010,49.015000,12.095556,Very Low,disk,6,202.000000
80324,2008-05-10 12:00:00,erlangen (germany),0,de,sphere,1200.0,20 mins.,hovering&#44zipping around&#44the craft dissap...,4/14/2009,49.589722,11.003889,Very Low,sphere,7,622.142857
80325,1981-06-13 22:00:00,stuttgart (germany),0,de,sphere,300.0,5 minutes,2 sightings in Germany,5/15/2013,48.766667,9.183333,Very Low,sphere,7,622.142857
80326,2009-06-28 00:24:00,staufen (germany),0,de,sphere,900.0,15 mins,7 red and orange glowing lights hovering over ...,8/5/2009,48.666667,10.283333,Very Low,sphere,7,622.142857
80327,1970-06-06 18:00:00,mannheim (west germany),0,de,sphere,30.0,30 seconds,While serving as a military pilot in West Germ...,7/16/2006,49.488333,8.464722,Very Low,sphere,7,622.142857
80328,2010-06-08 19:45:00,munich (germany),0,de,sphere,120.0,2 minutes,Anthracite&#44 black&#44 silent sphere over Mu...,11/21/2010,48.150000,11.583300,Very Low,sphere,7,622.142857
80329,2008-08-23 22:30:00,bitburg (germany),0,de,sphere,1800.0,30 minutes,Orange glowing lights float in formation over ...,10/31/2008,49.966667,6.533333,Very Low,sphere,7,622.142857
80330,2011-09-13 12:00:00,heilbronn (germany),0,de,sphere,5.0,5 seconds,9/13/2011 Heilbroon&#44 Baden-Werttemberg&#44 ...,10/14/2013,49.166667,10.366667,Very Low,sphere,7,622.142857

In [182]:
ufos['mean_diff'] = np.abs(ufos['mean_duration'] - ufos['duration_seconds'])

As we have taken the mean across countries and shapes, now it makes sense to compare it that way

In [189]:
duration = ufos.groupby(['new_shape', 'country']).mean()[['mean_diff']]
duration

                      mean_diff
new_shape country
circle    0        2.652906e+04
          au       1.468612e+03
          ca       8.039997e+02
          de       3.202000e+03
          gb       1.121683e+03
          us       6.307845e+03
disk      0        2.043261e+03
          au       4.434200e+02
          ca       1.549464e+03
          de       1.653333e+02
          gb       2.611194e+03
          us       2.029312e+03
fireball  0        7.867292e+03
          au       2.816886e+02
          ca       4.770644e+02
          de       4.182173e+03
          gb       3.044890e+02
          us       7.769351e+03
light     0        9.783029e+03
          au       7.466357e+03
          ca       1.711171e+03
          de       5.737788e+04
          gb       1.135609e+03
          us       2.853114e+04
other     0        5.510325e+04
          au       1.484149e+03
          ca       1.993995e+05
          de       2.521027e+03
          gb       8.987204e+04
          us       6.588425e+03
oval      0        3.039680e+04
          au       6.783711e+02
          ca       4.914205e+03
          de       7.236735e+01
          gb       8.447428e+02
          us       3.526294e+03
sphere    0        2.930498e+04
          au       1.504936e+05
          ca       1.440174e+03
          de       5.810204e+02
          gb       1.230562e+06
          us       2.597630e+03
triangle  0        2.332796e+03
          au       3.890319e+02
          ca       8.601378e+02
          de       3.583124e+05
          gb       2.619810e+03
          us       2.144070e+03
unknown   0        5.287424e+03
          au       2.652032e+02
          ca       1.156715e+03
          de       1.509375e+03
          gb       4.563138e+02
          us       1.085178e+04

In [191]:
duration['duration_min'] = duration['mean_diff'] / 60
duration

                      mean_diff  duration_min
new_shape country
circle    0        2.652906e+04    442.150929
          au       1.468612e+03     24.476864
          ca       8.039997e+02     13.399995
          de       3.202000e+03     53.366667
          gb       1.121683e+03     18.694724
          us       6.307845e+03    105.130748
disk      0        2.043261e+03     34.054352
          au       4.434200e+02      7.390333
          ca       1.549464e+03     25.824395
          de       1.653333e+02      2.755556
          gb       2.611194e+03     43.519896
          us       2.029312e+03     33.821864
fireball  0        7.867292e+03    131.121540
          au       2.816886e+02      4.694810
          ca       4.770644e+02      7.951074
          de       4.182173e+03     69.702881
          gb       3.044890e+02      5.074817
          us       7.769351e+03    129.489180
light     0        9.783029e+03    163.050483
          au       7.466357e+03    124.439285
          ca       1.711171e+03     28.519520
          de       5.737788e+04    956.297917
          gb       1.135609e+03     18.926810
          us       2.853114e+04    475.519005
other     0        5.510325e+04    918.387441
          au       1.484149e+03     24.735820
          ca       1.993995e+05   3323.325191
          de       2.521027e+03     42.017122
          gb       8.987204e+04   1497.867279
          us       6.588425e+03    109.807083
oval      0        3.039680e+04    506.613334
          au       6.783711e+02     11.306185
          ca       4.914205e+03     81.903416
          de       7.236735e+01      1.206122
          gb       8.447428e+02     14.079047
          us       3.526294e+03     58.771565
sphere    0        2.930498e+04    488.416378
          au       1.504936e+05   2508.226667
          ca       1.440174e+03     24.002907
          de       5.810204e+02      9.683673
          gb       1.230562e+06  20509.373272
          us       2.597630e+03     43.293839
triangle  0        2.332796e+03     38.879930
          au       3.890319e+02      6.483865
          ca       8.601378e+02     14.335631
          de       3.583124e+05   5971.872840
          gb       2.619810e+03     43.663499
          us       2.144070e+03     35.734493
unknown   0        5.287424e+03     88.123726
          au       2.652032e+02      4.420053
          ca       1.156715e+03     19.278583
          de       1.509375e+03     25.156250
          gb       4.563138e+02      7.605230
          us       1.085178e+04    180.862989